@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to the G6 Garage !</h1>
    <p>Manage your garage with ease. Use the links below to navigate:</p>

    <p>
        <a class="btn btn-primary" asp-area="" asp-controller="Vehicle" asp-action="Add">Add a Vehicle</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Vehicle" asp-action="Details">Vehicle Details</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Vehicle" asp-action="Edit">Vehicle Edit</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Vehicle" asp-action="Overview">Vehicle Overview</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Vehicle" asp-action="Unpark">Unpark a Vehicle</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Vehicle" asp-action="Park">Park</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Member" asp-action="Create">Create a member</a>

    </p>


</div>
